/* Login Form Styles */

/* Global Styles */
.gradient {
    -fx-background-color: linear-gradient(to bottom,#235347, #8eb69b); /* Gradient từ xám sang trắng */
}

/* Button Styles for Login */
.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: white; /* Xám */
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: white; /* Xám */
    -fx-font-size: 14px;
}

.nav-btn:hover {
    -fx-background-color: #808080; /* Xám */
    -fx-text-fill: #fff; /* Đổi thành trắng khi hover */
}

/* Label Styles */
.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Verdana", sans-serif;
    -fx-padding: 5px 0px;
}

/* Header Styling */
.header {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 2px 0;
}

.header .label {
    -fx-text-fill: #ff8c00;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* TextField Styles */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-padding: 8px 10px;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
}

.text-field:focused {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ff8c00;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.4, 0.0, 2.0);
}

.text-field .text {
    -fx-fill: #aaaaaa;
}

.text-field:focused .text {
    -fx-fill: #333333;
}
